{
  "plugins": ["transform-class-properties"],
  "presets": [
    "react",
    ["es2015", { "modules": false }]
  ],
  "env": {
    "cli": {
      "presets": [
        "react",
        "es2015"
      ]
    }
  }
}
