<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div id="container">
      <div id="app"></div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="public/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
  </body>
</html>
